body {
    background-color: #0e1111;
    color:white;
}

#nav_bar {
	border: 0;
	background-color: black;
	border-radius: 0px;
	margin-bottom: 0;
    height: 30px;
}

#bio {
    margin-bottom: 50px;
}

#bio_text {
    width: 600px;
    float: left;
    position: relative;
    padding-left: 0;
}


#pro_pic {
    width: 450px;
    float: left;
    display: inline-block;
}


.heasder {
    padding-left: 15px;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.nav_links {
    margin: 0;
}

.nav_links li {
	display: inline-block;
    margin-top: 4px;
}
.nav_links li a {
	padding: 0 15.5px;
	color: white;
	text-decoration: none;
}

.jumbotron {
    /* parallax stuff below */
    background-image: url("img/background2.jpg");
    background-size: cover;
    min-height: 1000px;
    background-attachment: fixed;
    background-position: 50% 1%;

    margin-bottom: 0;
    padding: 200px;

}

.text-black {
    color: black;
}

.bg-dark {
    background-color: #2e2e2e;
}

.text-stroke-black {
    -webkit-text-stroke: 2px black;
}
